<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<blockquote>
    <article>
        <h1>Hello</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consequatur delectus dolor dolorem est hic in nihil, non odit,
    repudiandae, sit tenetur. Distinctio eos nemo sed. Atque dolor, suscipit!
    </article>
    <input type="password" name="username">
<!--    <hr>-->
<!--    <h1>-->
<!--        Introduction-->
<!--        <p>Hello</p>-->
<!--    </h1>-->
<!--    <hr>-->
<!--    <h1>Hello <span>Test</span></h1>-->
<!--    <h1>Hi</h1>-->
<!--    <hr>-->
<!--    <p></p>-->
<!--    <hr>-->
<!--    <input type="file" multiple>-->
<!--    <hr>-->
<!--    <select name="country" id="country">-->
<!--        <option value="">Select Country</option>-->
<!--        <optgroup label="Eroupe">-->
<!--            <option value="1">France</option>-->
<!--            <option value="2">Germany</option>-->
<!--            <option value="3">Italy</option>-->
<!--        </optgroup>-->
<!--        <optgroup label="Asia">-->
<!--            <option value="1">India</option>-->
<!--            <option value="2">Japan</option>-->
<!--            <option value="3">China</option>-->
<!--        </optgroup>-->
<!--    </select>-->
<!--    <hr>-->

<!--    <input type="text" list="demo">-->

<!--    <datalist id="demo">-->
<!--        <option value="1">France</option>-->
<!--        <option value="2">Germany</option>-->
<!--        <option value="3">Italy</option>-->
<!--        <option value="1">India</option>-->
<!--        <option value="2">Japan</option>-->
<!--        <option value="3">China</option>-->
<!--    </datalist>-->
<!--    <input>-->


</blockquote>
</body>
</html>