body{
    margin: 0;
    padding: 0;
    /*background: #f5f2f2;*/
}
.container{
    width: 1280px;
    min-height: 400px;
    background: white;
    margin: auto;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: thin solid #e7e3e3;
}

.logo{
    width: 20%;
}

.menu{
    width: 80%;
}

.menu ul{
    display: flex;
    list-style-type: none;
    width: 70%;
    float: right;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu a{
    text-decoration: none;
    color: black;
}

.menu ul li{
    width: 100%;
    text-align: center;
    line-height: 80px;
}

.menu ul li:hover{
    background: #f5f2f2;
}

.menu ul li{
    border-right: thin solid #e7e3e3;
}

.menu ul li:last-child{
    border: none;
}

.banner{
    width: 100%;
    height: 450px;
    background: linear-gradient(180deg, #FFF 4.44%, #30618E 100%, rgba(48, 97, 142, 0.00) 100%);
    display: flex;
    justify-content: space-between;
}

.banner-left{
    width: 48%;
    height: 100%;
    display: flex;
    color: white;
}

.left-text-box{
    width: 90%;
    margin: auto;
}

.left-text-box h1{
    font-size: 45px;
    font-weight: bold;
}

.left-text-box h1 span{
   color: red;
    font-family: fantasy;
}
.left-text-box p{
    font-size: 24px;
    text-align: justify;
}

.join-btn{
    width: 50%;
    background: red;
    height: 50px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.join-btn:hover{
    background:darkred;
}
.banner-right{
    width: 48%;
    height: 100%;
    /*background: green;*/
    display: flex;
    justify-content: flex-end;
}

